@import url('./reset.css');
@import url('./footer.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --main-black: #000;
    --main-primary: #f1a636;
    --main-background: #fff;

    --main-pastel-orange: #f9f2dd;
    --main-pastel-pink: #F4E8EC;
    --main-pastel-brown: #f6ebeb;
    --main-pastel-blue: #e6ebee;
    --main-tan: #e8e7e2;

    --button-color: #F1364C;
    --footer-color: #000;

    --shadow-orange: 0px 0px 16px 0px rgba(241, 166, 54, 0.35);
}

body {
    font-family: 'Roboto', sans-serif;
}


#up {
    display: inline-block;
    position: fixed;
    background-color: white;
    border: none;
    border-radius: 50%;
    outline: none;
    bottom: 5rem;
    right: 5rem;

    width: 3.75rem;
    height: 3.75rem;
    z-index: 10;
}

#up svg{
    width: inherit;
    height: auto;
    fill: var(--main-primary);
}

/* Header */
header {
    background-color: var(--main-background);
    width: 100%;
    height: 5.625rem;

    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

header .icon svg{
    width: 50px;
    height: auto;
}

header ul{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

header li a {
    padding: 1rem;
    color: black;

    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header nav a:hover{
    transition: .25s;
    border-bottom: 5px var(--main-primary) solid;
}

header button{
    display: none;
}

header svg{
    width:2em;
    height:2em;
    fill:white;
}

header .btn-register {
    padding: 0.5rem 3rem;
    margin: 0;

    border-radius: 1rem;
    color: white;
    background: var(--main-primary);
}

header .btn-register:hover {
    border: none;
    transition: .25s;
    background: var(--main-black);
}

/* MAIN */

.hero {
    display: flex;
    flex-flow: wrap;
    height: calc(100vh - 5.625rem);
    justify-content: space-evenly;
    align-items: center;
    flex-shrink: 0;

    background-color: var(--main-pastel-orange);
    color: #000;
}

.hero img {
    width: auto;
    height: inherit;
}

.wrapper-chambeape{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.wrapper-chambeape img{
    max-width: 35rem;
    height: auto;
}

.wrapper-chambeape h2{
    max-width: 39.5625rem;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wrapper-chambeape a {
    display: flex;
    width: 25rem;
    padding: 0.625rem 0rem;
    justify-content: center;
    align-items: center;

    border-radius: 0.625rem;
    background: var(--main-primary);
    color: white;

    text-align: center;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
}

.wrapper-chambeape a:hover {
    transition: .25s;
    background: var(--main-black);
}

.about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.h2 {
    color: var(--main-primary);
    margin: 6.25rem 0 1rem 0;
}

.h2 {
    text-align: center;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.225rem;
}

.about .wrapper-about{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-top: 5.25rem;
    padding: 1.25rem;

    border-radius: 0.625rem;
    background: var(--main-background);
    box-shadow: var(--shadow-orange);
}

.about .wrapper-about img{
    display: block;
    max-width: 16.25rem;
}

.about .wrapper-about p{
    max-width: 42rem;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: .1rem;
}


.employer {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.h2 + p {
    width: 45rem;

    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.04375rem;
}

.employer .wrapper-employer{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 6.25rem;
    gap: 1.875rem 2.5rem;
}

.wrapper-employer div {
    display: flex;
    padding: 3.125rem 1.875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    border-radius: 1.875rem;
}

.wrapper-employer .pink {
    background-color: var(--main-pastel-pink);
}

.wrapper-employer .blue {
    background-color: var(--main-pastel-blue);
}

.wrapper-employer .tan {
    background-color: var(--main-tan);
}

.wrapper-employer img{
    display: block;
    border-radius: 50%;
    object-fit: cover;
    width: 15.5rem;
    height: 15.5rem;
}

.employer .wrapper-employer p{
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.discover {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.discover .wrapper-discover {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 6.25rem 2rem;
    
    margin-top: 6.25rem;
    
}

.text-discover {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
}

.text-discover div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5rem;
}

.text-discover div:nth-last-child(odd){
    gap: 1rem;
    padding: 0 2rem 0 0;
}

.text-discover div:nth-last-child(even){
    gap: 1rem;
    padding: 0 0 0 2rem;
}

.wrapper-discover img{    
    display: block;
    max-width: 30rem;
    height: 30rem;
    
    object-fit: cover;
}

.discover .wrapper-discover .text-discover h3 {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.125rem;
}

.discover .wrapper-discover .text-discover p {
    max-width: 50rem;
    
    font-size: 1.8125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.05438rem;
}

.discover .wrapper-discover .first {
    background-color: var(--main-pastel-blue);
}

.discover .wrapper-discover .second {
    background-color: var(--main-tan);
}
.discover .wrapper-discover .third {
    background-color: var(--main-pastel-pink);
}
